.tetris__grid {
  display: flex;
  cursor: pointer;
}

.tetris__grid__col {
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  box-sizing: content-box;
}

.on {
  background-color: orangered;
}

button {
  margin: 1rem;
  margin-left: 0;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
}